<!DOCTYPE html>
<html lang='en'>
	<head>
		<title>About the Club</title>
		<link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css' integrity='sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS' crossorigin='anonymous'>
		<link rel='stylesheet' type='text/css' href='navbar.css'>
		<link rel='stylesheet' type='text/css' href='footer.css'>
		<link rel='stylesheet' type='text/css' href='body.css'>
		
		<link rel='stylesheet' type='text/css' href='about.css'>
	</head>
	<body>
		<div class='row' id='mynav'>
			<div class='col-md-3 mynav nav' id='logo'><a href='index.html' class='mx-auto'><img src='../SPILogo.png' width=247 height=60 id='spilogo'></a></div>
			<div class='col-md-3 mynav nav' id='about'><a href='about.html' class='mx-auto navlink'>About the Club</a></div>
			<div class='col-md-3 mynav nav' id='projects'>
				<div id='dropWrap' class='mx-auto navlink'>
					<div id='fixedDropWrap'>
						<a href='projects.html' id='projLink' class='mx-auto'>Projects</a>
						<div id='projDrop'>
							<a href='projects/rankedchoicevoting.html' class='dropLink'>Ranked-choice Voting</a>
							<a href='projects/opportunityblock.html' class='dropLink'>Opportunity Block</a>
						</div>
					</div>
				</div>
			</div>
			<div class='col-md-3 mynav nav' id='contact'><a href='contact.html' class='mx-auto navlink'>Contact</a></div>
		</div>
		
		<div class='pageTitle'><span class='brightbluehover'>About the Club</span></div>
		<hr>
		<div class='row'>
			<div class='col-8 offset-2 description sectionbluehover'>
			The <a href='index.html' class='descriptionLink'>Student Policy Initiative</a> 
			seeks to represent the interests of Greenwich High School students in the policy decisions that are most important to them. 
			The group confronts impactful issues like school start time, the opportunity block and ranked-choice voting 
			through editorials, speeches at government meetings and cooperation with local leaders.
			<br><br>
			The club was founded by GHS juniors Toby Hirsch and Lucas Gazianis because they were frustrated at the inability of students to have their voices represented,
			especially in decisions that had a direct impact on their lives.
			They created the club as a way for students to learn about how their local government works and how to influence policy decisions.
			Club members are encouraged to bring issues that are important to them and start <a href='' class='descriptionLink'>projects</a> on them.
			</div>
		</div>
		
		<div class='row text-center' id='footer'>
			<div class='col-6'><div class='mx-auto footWrap'>
				<a href='index.html' class='footer'>Home</a><br>
				<a href='about.html' class='footer'>About</a><br>
				<a href='contact.html' class='footer'>Contact</a>
			</div></div>
			<div class='col-6'><div class='mx-auto footWrap'>
				<a href='projects.html' class='footer'>Projects</a><br>
				<a href='projects/opportunityblock.html' class='footer'>Opportunity Block</a><br>
				<a href='projects/rankedchoicevoting.html' class='footer'>Ranked-choice Voting</a>
			</div></div>
		</div>
	</body>
	<script src='https://code.jquery.com/jquery-3.3.1.slim.min.js' integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo' crossorigin='anonymous'></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js' integrity='sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut' crossorigin='anonymous'></script>
	<script src='https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js' integrity='sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k' crossorigin='anonymous'></script>
	<script src='navbar.js'></script>
</html>