#footer{
	background-color: rgba(100, 100, 100, 0.3);
	margin-top: 30px;
	padding: 20px;
}
.footer{
	color: hsl(210,11%,25%);
	margin: 5px 0px 5px 0px;
}
.footer:hover{
	color: hsl(204, 55%, 40%);
	text-decoration: none;
	border-bottom: 1px solid hsl(204, 55%, 40%);
}
.footWrap{
	display: inline-block;
	text-align: left;

}