.leftMost{
	margin-left: 16.6666666667%;
}
#obArticle{
	opacity: 0;
}
#policy{
	padding-right: 12%;
}
#student{
	padding-right: 12%;
}
.title>span{
	font-size: 3.3vw;
	z-index: -100;
}
#titleRow{
	margin-top: 80px;
	margin-bottom: 80px;
}