<!DOCTYPE html>
<!--
	Make it so that on mobile/tablets it automatically displays the hover formatting
-->
<html lang='en'>
	<head>
		<meta charset='utf-8'>
		<meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
		<title>Student Policy Initiative</title>
		<link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css' integrity='sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS' crossorigin='anonymous'>
		<link rel='stylesheet' type='text/css' href='/navbar.css'/>
		<link rel='stylesheet' type='text/css' href='/body.css'>
		<link rel='stylesheet' type='text/css' href='/homepage.css'>
		<link rel='stylesheet' type='text/css' href='/footer.css'>
	</head>
	<body>
		<div class='row' id='mynav'>
			<div class='col-md-3 mynav nav' id='logo'><a href='index.html' class='mx-auto'><img src='SPILogo.png' width=247 height=60 id='spilogo'></a></div>
			<div class='col-md-3 mynav nav' id='about'><a href='about.html' class='mx-auto navlink'>About the Club</a></div>
			<div class='col-md-3 mynav nav' id='projects'>
				<div id='dropWrap' class='mx-auto navlink'>
					<div id='fixedDropWrap'>
						<a href='projects.html' id='projLink' class='mx-auto'>Projects</a>
						<div id='projDrop'>
							<a href='projects/rankedchoicevoting.html' class='dropLink'>Ranked-choice Voting</a>
							<a href='projects/opportunityblock.html' class='dropLink'>Opportunity Block</a>
						</div>
					</div>
				</div>
			</div>
			<div class='col-md-3 mynav nav' id='contact'><a href='contact.html' class='mx-auto navlink'>Contact</a></div>
		</div>
		
		
		<div class='row' id='titleRow'>
			<div id='studentWrap' class='col-md-4 text-right title'><span class='titleText brightbluehover' id='student'>S T U D E N T</span> </div> <!--make it so that these are md columns and change the size/alignment on the breakpoint-->
			<div id='policyWrap' class='col-md-4 text-center title'><span class='titleText brightbluehover' id='policy'>P O L I C Y</span> </div>
			<div id='initiativeWrap' class='col-md-4 text-left title'><span class='titleText brightbluehover' id='initiative'>I N I T I A T I V E</span></div>
		</div>
		<hr>
		
		<div class='row' id='descriptionRow'>
			<div class='col-8 offset-2 description sectionbluehover'>The Student Policy Initiative is a club at Greenwich High School that seeks to teach students to advocate for themselves more effectively.
			The club does this by engaging on the state and local level on issues that are important to its members. <br><br>
			To learn more about the club. visit the <a href='about.html' class='descriptionLink'>about</a> page.</div>
		</div>
		
		<hr>
		
		<div class='row' id='obprojectRow'>
			<div class='col-lg-4 twoColumn leftMost'><img src='obarticle.png' width=100% id='obArticle' class='opacity'></div>
			<div class='col-lg-4 description twoColumn sectionbluehover'>One of the projects the Student Policy Initiative has taken on is the Greenwich High School opportunity block.
			The members of this project have developed a detailed plan for their vision of the opportunity block and spoken in favor of it at the Board of Education,
			along with working with the GHS administration and student government to improve the opportunity block.
			<br><br>See more on our <a href='' class='descriptionLink'>opportunity block project</a> page</div>
		</div>
		
		<div class='row text-center' id='footer'>
			<div class='col-6'><div class='mx-auto footWrap'>
				<a href='index.html' class='footer'>Home</a><br>
				<a href='about.html' class='footer'>About</a><br>
				<a href='contact.html' class='footer'>Contact</a>
			</div></div>
			<div class='col-6'><div class='mx-auto footWrap'>
				<a href='projects.html' class='footer'>Projects</a><br>
				<a href='projects/opportunityblock.html' class='footer'>Opportunity Block</a><br>
				<a href='projects/rankedchoicevoting.html' class='footer'>Ranked-choice Voting</a>
			</div></div>
		</div>
		
	</body>
	<script src='https://code.jquery.com/jquery-3.3.1.slim.min.js' integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo' crossorigin='anonymous'></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js' integrity='sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut' crossorigin='anonymous'></script>
	<script src='https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js' integrity='sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k' crossorigin='anonymous'></script>
	<script src='homepage.js'></script>
	<script src='navbar.js'></script>
	<script src='opacity.js'></script>
	<script src='twocolumnresize.js'></script>
	
	
</html>