<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Projects</title>
		<link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css' integrity='sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS' crossorigin='anonymous'>
		<link rel='stylesheet' type='text/css' href='navbar.css'>
		<link rel='stylesheet' type='text/css' href='footer.css'>
		<link rel='stylesheet' type='text/css' href='body.css'>
		
		<link rel='stylesheet' type='text/css' href='projects.css'>
	</head>
	<body>
		<div class='row' id='mynav'>
			<div class='col-md-3 mynav nav' id='logo'><a href='index.html' class='mx-auto'><img src='../SPILogo.png' width=247 height=60 id='spilogo'></a></div>
			<div class='col-md-3 mynav nav' id='about'><a href='about.html' class='mx-auto navlink'>About the Club</a></div>
			<div class='col-md-3 mynav nav' id='projects'>
				<div id='dropWrap' class='mx-auto navlink'>
					<div id='fixedDropWrap'>
						<a href='' id='projLink' class='mx-auto'>Projects</a>
						<div id='projDrop'>
							<a href='projects/rankedchoicevoting.html' class='dropLink'>Ranked-choice Voting</a>
							<a href='projects/opportunityblock.html' class='dropLink'>Opportunity Block</a>
						</div>
					</div>
				</div>
			</div>
			<div class='col-md-3 mynav nav' id='contact'><a href='contact.html' class='mx-auto navlink'>Contact</a></div>
		</div>
		
		<div class='pageTitle'><span class='brightbluehover'>Projects</span></div>
		<hr>
		<div class='row'>
			<div class='col-8 offset-2 description sectionbluehover'>
			All the work done by the <a href='index.html' class='descriptionLink'>Student Policy Initiative</a> is done through projects.
			Whenever there is an issue that a member is interested in pursuing, they bring the idea to the meeting to see if there is enough interest among other members to start a project on it.
			If there is, a project leader is appointed and anyone interested in the project joins the project team.
			<br><br>The club is currently focused on two projects:
			</div>
		</div>
		<br>		
		<h1 class='projectTitle mx-auto text-center'><a href='' class='descriptionLink'>The Opportunity Block</a></h1>
		
		<div class='row' id='obprojectRow'>
			<a href='' class='col-lg-4 twoColumn leftMost pad' ><img src='obarticle.png' width=100% id='obArticle' class='opacity'></a>
			<a href='' class='col-lg-4 description twoColumn sectionbluehover'>The opportunity block is a new 30-minute period at the end of the GHS school day.
			It was created as part of an effort to reduce the time missed by athletes and increase extracurricular engagement.
			<br><br>
			While it has been somewhat successful in achieving these aims, SPI believes that much more can be done to improve the block.
			Click to learn more.</a>
		</div>
		
		<hr>
		
		<h1 class='projectTitle mx-auto text-center'><a href='' class='descriptionLink'>Ranked-choice Voting</a></h1>
		
		<div class='row' id='rcvprojectRow'>
			<a href='' class='col-lg-4 twoColumn leftMost description sectionbluehover'>
			Ranked-choice voting is an innovative voting system where, instead of choosing just one candidate, voters can rank as many as they want.
			It is designed to require candidates to appeal to a broader base of voters while still requiring strong top choice support 
			and to eliminate the "spoiler" effect that is all too common in first-past-the-post voting.
			<br><br>
			SPI has been working with Connecticut State Senator Alex Bergstein to advance the cause of Ranked-choice voting in Connecticut.
			Click to learn more.</a>
			<a href='' class='col-lg-4 twoColumn pad'><img src='rcvimage.jpg' width=100% class='opacity'></a>
		</div>
		
		<hr>
		
		<div class='row'>
			<div class='col-8 offset-2 description sectionbluehover'>
				While these two projects make up the bulk of the Student Policy Initiative's work, there are several other ideas that are also being considered, including:
				<br>
				<ul>
					<li><strong>Carpool parking preference</strong> - this idea was proposed by SPI member Chris Bassalik. Senior parking at GHS is becoming increasingly limited with increasing class sizes.
					This plan aims to encourage students to carpool by giving them extra tickets into the parking spot lottery for driving multiple students to school.
					Preliminary research is ongoing, and it is likely that this will soon be one of the Student Policy Initiative's projects.</li>
					<li><strong>Term limits for state representatives</strong> - the career politician is a troubling phenomenon to many. 
					SPI co-founder and co-president Lucas Gazianis has proposed limiting Congressmen to one four-year term.
					He hopes it would eliminate the career politician and allow representatives to focus on governing instead of "dialing for dollars" and campaigning for reelection.
					Whlie the career politician is certainly more prominent on the federal level, it is more plausible to start work on the state level, 
					and it allows the rest of the nation to observe the results before implementing it nationwide. 
					The club is currently conducting more preliminary research to better understand the possible implications of this idea before considering it as a project.</li>
					<li><strong>Midterm scheduling change</strong> - several members have proposed a change to the midterm schedule to more evenly spread the studying burden and eliminate cheating.
					This solution entails each day being dedicated to a subject; the first day would be math day, the second day would be science day, etc. 
					These members hope that this prevent students from having an excessive studying burden on a single night because they have multiple midterms.
					They also hope that it will prevent classes that meet multiple times from sharing questions.</li>
				</ul>
				These ideas are all very promising, but the club always makes sure of two things before adopting a project: 
				1) there is significant, sustained interest in the idea, and 2) the club's stance on the issue is well-supported and well-reasoned.
				It is likely that, if these ideas stand up to these criteria, they will soon be SPI projects.
			</div>
		</div>
		
		<div class='row text-center' id='footer'>
			<div class='col-6'><div class='mx-auto footWrap'>
				<a href='index.html' class='footer'>Home</a><br>
				<a href='about.html' class='footer'>About</a><br>
				<a href='contact.html' class='footer'>Contact</a>
			</div></div>
			<div class='col-6'><div class='mx-auto footWrap'>
				<a href='projects.html' class='footer'>Projects</a><br>
				<a href='projects/opportunityblock.html' class='footer'>Opportunity Block</a><br>
				<a href='projects/rankedchoicevoting.html' class='footer'>Ranked-choice Voting</a>
			</div></div>
		</div>
	</body>
	<script src='https://code.jquery.com/jquery-3.3.1.slim.min.js' integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo' crossorigin='anonymous'></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js' integrity='sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut' crossorigin='anonymous'></script>
	<script src='https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js' integrity='sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k' crossorigin='anonymous'></script>
	<script src='navbar.js'></script>
	<script src='twocolumnresize.js'></script>
	<script src='opacity.js'></script>
</html>