<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8'>
		<meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
		<title>Student Policy Initiative</title>
		<link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css' integrity='sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS' crossorigin='anonymous'>
		<link rel='stylesheet' type='text/css' href='/body.css'>
		<style>
			li{
				margin-top: 10px;
			}
		</style>
	</head>
	<body>
		<div class='col-10 offset-1 text-center linkcont' style='margin-top: 50px; margin-bottom: 20px'>
			<h1 class='brightbluehover'>Your form response has been received</h1>
			<ul style='list-style-type: none'>
				<li><a href='index.html' class='descriptionLink'>Home</a></li>
				<li><a href='contact.html' class='descriptionLink'>Fill out another form</a></li>
			</ul>
		</div>
	</body>
</html>