<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Projects</title>
		<link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css' integrity='sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS' crossorigin='anonymous'>
		<link rel='stylesheet' type='text/css' href='../navbar.css'>
		<link rel='stylesheet' type='text/css' href='../footer.css'>
		<!--<link rel='stylesheet' type='text/css' href='../body.css'>-->
		
		<link rel='stylesheet' type='text/css' href='projects.css'>
	</head>
	<body>
		<div class='row' id='mynav'>
			<div class='col-md-3 mynav nav' id='logo'><a href='../index.html' class='mx-auto'><img src='../SPILogo.png' width=247 height=60 id='spilogo'></a></div>
			<div class='col-md-3 mynav nav' id='about'><a href='../about.html' class='mx-auto navlink'>About the Club</a></div>
			<div class='col-md-3 mynav nav' id='projects'>
				<div id='dropWrap' class='mx-auto navlink'>
					<div id='fixedDropWrap'>
						<a href='../projects.html' id='projLink' class='mx-auto'>Projects</a>
						<div id='projDrop'>
							<a href='rankedchoicevoting.html' class='dropLink'>Ranked-choice Voting</a>
							<a href='opportunityblock.html' class='dropLink'>Opportunity Block</a>
						</div>
					</div>
				</div>
			</div>
			<div class='col-md-3 mynav nav' id='contact'><a href='../contact.html' class='mx-auto navlink'>Contact</a></div>
		</div>
		<div class='text-center'>
			<div class='titleWrap'>
				<h1 id='pageTitle'>The Opportunity Block</h1>
				<h4 id='projLeader'>Project leader: Lucas Gazianis</h4>
			</div>
		</div>
		<hr>
		<div class='row'>
			<div class='col-8 offset-2 projSlot'>
				<h1 class='header text-center'>
					What is the opportunity block?
				</h1>
				<p class='projText'>
					The opportunity block is a 30 minute period at the end of the school day where students can either stay in their last block class,
					go to a scheduled "opportunity" or get a pass to see a teacher.
					<br><br>
					The idea was initially proposed by former superintendent Dr. Gildea.
					It was designed to reduce the time missed by athletes as a result of the start time change,
					increase extracurriular engagement and even be a step towards personalized learning.
					In May, 2018, the Board of Education adopted Dr. Gildea's proposal.
				</p>
			</div>
		</div>
		
		<div class='row'>
			<div class='col-8 offset-2 projSlot'>
				<h1 class='header text-center'>
					What is SPI's stance on the opportunity block?
				</h1>
				<p class='projText'>
					SPI recognizes that a lot of positive change has come out of the opportunity block. 
					It has developed this creative, innovative plan to expand on the benefits of the opportunity block:
					<br><br><a href='obplan.pdf' target='_blank'>Opportunity Block Plan</a><br><br>
					
					The opportunity block has allowed people to participate in more clubs, decreased the time missed by athletes and made meeting with teachers easier.
					However, it has not been as successful in these areas as many had hoped.
					<br><br>
					The opportunities available during the opportunity block are far less extensive than those available after school.
					On any given day, there are an average of 13 opportunities. 
					Even if 20 people signed up for each of these opportunities, only 10% of the school would be in opportunities.
					In reality, only 5% of students were signed up for opportunities on an average day during the first semester.
					<br><br>
					Those who are not signed up for opportunities have two options: they can stay in their last block class or get a pass to see a teacher.
					The environment in last block classes is often loud and distracting, making it nearly impossible for students to work efficiently.
					This same distracting environment makes teacher meetings less productive;
					students have to meet with teachers that are also charged with babysitting the twenty students in their last block class.
					<br><br>
					The first phase of SPI's opportunity block plan would end the requirement that students stay in their last block classes.
					This would create an environment where it is easier for clubs to meet, easier for students to experiment with clubs and easier for students who want to work to focus
					<br><br>
					It would also allow students and administrators to adjust to the later phases that introduce more radical change.
					The second phase of the plan extends the end of the opportunity block to 3:30, adds a wave of busses leaving at 2:55 and introduces accredited courses into the opportunity block.
					This would allow students to make use of the opportunity block in a variety of productive ways.
					Students that want to participate in clubs could do so.
					Students that want to take an extra elective could do so.
					Students that want to meet with teachers could do so more productively.
					<br><br>
					The third phase introduces a similar period at the beginning of the day, from 8:30 to 9:20, with buses on both ends.
					To prevent class time from being shortened, the number of classes per day would be reduced from six to five.
					Instead of an eight block cycle with two blocks dropping each day, the school would move to a six block cycle with one block dropping each day.
					This would actually yield a slight increase in average time per class per day.
				</p>
			</div>
		</div>
		
		<div class='row'>
			<div class='col-lg-4 twoColumn leftMost'></div>
			<div class='col-lg-4 twoColumn leftMost'></div>
		</div>
		
		<div class='row text-center' id='footer'>
			<div class='col-6'><div class='mx-auto footWrap'>
				<a href='../index.html' class='footer'>Home</a><br>
				<a href='../about.html' class='footer'>About</a><br>
				<a href='../contact.html' class='footer'>Contact</a>
			</div></div>
			<div class='col-6'><div class='mx-auto footWrap'>
				<a href='../projects.html' class='footer'>Projects</a><br>
				<a href='opportunityblock.html' class='footer'>Opportunity Block</a><br>
				<a href='rankedchoicevoting.html' class='footer'>Ranked-choice Voting</a>
			</div></div>
		</div>
	</body>
	<script src='https://code.jquery.com/jquery-3.3.1.slim.min.js' integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo' crossorigin='anonymous'></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js' integrity='sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut' crossorigin='anonymous'></script>
	<script src='https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js' integrity='sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k' crossorigin='anonymous'></script>
	<script src='navbar.js'></script>
	<script src='projecttitles.js'></script>
</html>