<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Projects</title>
		<link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css' integrity='sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS' crossorigin='anonymous'>
		<link rel='stylesheet' type='text/css' href='../navbar.css'>
		<link rel='stylesheet' type='text/css' href='../footer.css'>
		<!--<link rel='stylesheet' type='text/css' href='../body.css'>-->
		
		<link rel='stylesheet' type='text/css' href='projects.css'>
	</head>
	<body>
		<div class='row' id='mynav'>
			<div class='col-md-3 mynav nav' id='logo'><a href='../index.html' class='mx-auto'><img src='../SPILogo.png' width=247 height=60 id='spilogo'></a></div>
			<div class='col-md-3 mynav nav' id='about'><a href='../about.html' class='mx-auto navlink'>About the Club</a></div>
			<div class='col-md-3 mynav nav' id='projects'>
				<div id='dropWrap' class='mx-auto navlink'>
					<div id='fixedDropWrap'>
						<a href='../projects.html' id='projLink' class='mx-auto'>Projects</a>
						<div id='projDrop'>
							<a href='rankedchoicevoting.html' class='dropLink'>Ranked-choice Voting</a>
							<a href='opportunityblock.html' class='dropLink'>Opportunity Block</a>
						</div>
					</div>
				</div>
			</div>
			<div class='col-md-3 mynav nav' id='contact'><a href='../contact.html' class='mx-auto navlink'>Contact</a></div>
		</div>
		<div class='text-center'>
			<div class='titleWrap'>
				<h1 id='pageTitle'>Ranked-choice Voting</h1>
				<h4 id='projLeader'>Project leader: Toby Hirsch</h4>
			</div>
		</div>
		<hr>
		<div class='row'>
			<div class='col-8 offset-2 projSlot'>
				<h1 class='header text-center'>
					What is Ranked-choice Voting?
				</h1>
				<p class='projText'>
					Ranked-choice voting, also called instant runoff voting, is an alternative voting system for single-winner elections. It works like this:
					<div class='mx-auto d-inline'>
						<video width='90%' style='margin-left: 5%' controls>
							<source src='rcvvideo.264' type='video/h264'>
							<source src='rcvvideo.webm' type='video/webm'>
							Your browser cannot display this video. See the description below.
						</video>
					</div>
					Voters rank as many candidates as they want.
					In the first round, all voters' first choices are tallied.
					If one candidate obtains an outright majority (50%), they are declared the winner.
					Otherwise, the lowest vote-getting candidate is eliminated and their voters' second choices are tallied.
					This process is repeated until one candidate reached 50%.
				</p>
			</div>
		</div>
		
		<div class='row'>
			<div class='col-8 offset-2 projSlot'>
				<h1 class='header text-center'>
					What is SPI's stance on Ranked-choice voting?
				</h1>
				<p class='projText'>
					The Student Policy Initiative is a firm supporter of Ranked-choice Voting for several reasons.
					RCV forces candidates to appeal to a broader group of supporters so that they can collect other candidates' second choice votes.
					Otherwise, it will be impossible for them to obtain 50% of the vote at any stage.
					It also eliminates the fear of wasted votes--voters can rank a third-party or independent candidate first while still having their vote cast for their preferred of the two major party candidates.
					This allows third parties to be legitimate candidates and forces the two major parties to be accountable or face another party gaining traction.
					<br><br>
					The Student Policy Initiative is working with State Senator Alex Bergstein to make ranked-choice voting a reality in Connecticut.
				</p>
			</div>
		</div>
		
		<div class='row text-center' id='footer'>
			<div class='col-6'><div class='mx-auto footWrap'>
				<a href='../index.html' class='footer'>Home</a><br>
				<a href='../about.html' class='footer'>About</a><br>
				<a href='../contact.html' class='footer'>Contact</a>
			</div></div>
			<div class='col-6'><div class='mx-auto footWrap'>
				<a href='../projects.html' class='footer'>Projects</a><br>
				<a href='opportunityblock.html' class='footer'>Opportunity Block</a><br>
				<a href='rankedchoicevoting.html' class='footer'>Ranked-choice Voting</a>
			</div></div>
		</div>
	</body>
	<script src='https://code.jquery.com/jquery-3.3.1.slim.min.js' integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo' crossorigin='anonymous'></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js' integrity='sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut' crossorigin='anonymous'></script>
	<script src='https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js' integrity='sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k' crossorigin='anonymous'></script>
	<script src='navbar.js'></script>
	<script src='projecttitles.js'></script>
</html>